In [113]:
import pandas as pd

In [114]:
file="Resources/purchase_data.csv"

In [115]:
purchase_data=pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [116]:
total_players=purchase_data["SN"].nunique()
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

   # Purchasing Analysis

In [117]:
unique_items=purchase_data["Item ID"].nunique()
average_price=purchase_data["Price"].mean()
purchases=purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()

In [118]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases":[purchases],
                                  "Total Revenue":[total_revenue]})

In [119]:
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

# Gender Demographics

In [120]:
gender_df=purchase_data[['SN', 'Gender']].drop_duplicates()
male_df=gender_df.groupby(["Gender"]).count().sort_values("SN",ascending=False).rename(columns={"SN":"Total Count"})
male_df.index=male_df.index.rename("")
percent_df=(male_df["Total Count"]/male_df["Total Count"].sum())*100
male_df["Percentage of Players"]=percent_df
male_df["Percentage of Players"] = male_df["Percentage of Players"].map("{:,.2f}%".format)
male_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [139]:
data=purchase_data[["Gender","Price"]]
purchase_count=data.groupby(["Gender"]).count().sort_values("Price",ascending=False).rename(columns={"Price":"Purchase Count"})
purchase_count
#aver_price=purchase_data["Price"].sum()/len(purchase_data["Price"])
#aver_price

                       Purchase Count
Gender
Male                              652
Female                            113
Other / Non-Disclosed              15