In [157]:
import pandas as pd

In [158]:
file="Resources/purchase_data.csv"

In [159]:
purchase_data=pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [160]:
total_players=purchase_data["SN"].nunique()
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

   # Purchasing Analysis

In [161]:
unique_items=purchase_data["Item ID"].nunique()
average_price=purchase_data["Price"].mean()
purchases=purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()

In [165]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases":[purchases],
                                  "Total Revenue":[total_revenue]})

In [166]:
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

# Gender Demographics

In [207]:
gender_df=purchase_data[['SN', 'Gender']].drop_duplicates()
gender_df
#male_df=gender_df.groupby(["Gender"]).count()
#percent_df=(male_df["SN"]/gender_df["SN"].count())*100
#percent_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]