In [60]:
import pandas as pd

In [61]:
file="Resources/purchase_data.csv"

In [62]:
purchase_data=pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [63]:
total_players=purchase_data["SN"].nunique()
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

   # Purchasing Analysis

In [64]:
unique_items=purchase_data["Item ID"].nunique()
average_price=purchase_data["Price"].mean()
purchases=purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()

In [65]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases":[purchases],
                                  "Total Revenue":[total_revenue]})

In [66]:
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

# Gender Demographics

In [67]:
gender_df=purchase_data[['SN', 'Gender']].drop_duplicates()
male_df=gender_df.groupby(["Gender"]).count().sort_values("SN",ascending=False).rename(columns={"SN":"Total Count"})
male_df.index=male_df.index.rename("")
percent_df=(male_df["Total Count"]/male_df["Total Count"].sum())*100
male_df["Percentage of Players"]=percent_df
male_df["Percentage of Players"] = male_df["Percentage of Players"].map("{:,.2f}%".format)
male_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [71]:
data=purchase_data[["Gender","Price"]]
purchase_count=data.groupby(["Gender"]).count().sort_values("Price",ascending=False).rename(columns={"Price":"Purchase Count"})
aver_price=purchase_data.groupby(["Gender"])["Price"].mean()
total=purchase_data.groupby(["Gender"])["Price"].sum()
unique_data=purchase_data[["SN","Gender"]].drop_duplicates()
df1=unique_data.groupby(["Gender"])["SN"].count()
total_per_person=total/df1


purchase_count["Average Purchase Price"]=aver_price
purchase_count["Average Purchase Price"]=purchase_count["Average Purchase Price"].map("${:,.2f}".format)
purchase_count["Total Purchase Value"]=total
purchase_count["Total Purchase Value"]=purchase_count["Total Purchase Value"].map("${:,.2f}".format)
purchase_count["Avg Total Purchase per Person"]=total_per_person
purchase_count["Avg Total Purchase per Person"]=purchase_count["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_count

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

 # Age Demographics

In [74]:
dd=purchase_data["Age"]
dd
#bins = [0, 9,14,19,24,29,34,39,100 ]
#pd.cut(purchase_data["Age"], bins)
#purchase_data["View Group"] = pd.cut(purchase_data["Age"], bins)

#purchase_data.head()

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

 # Top Spenders

In [145]:
spender=purchase_data[["SN","Price"]]
spender
#spender_total=spender.groupby(["SN"])["Price"].count().sort_values('Price',ascending=False)
#spender_total
#spender_df=spender.groupby(["SN"]).count()
#spender_df
#spender_df2=spender_df.groupby(["SN"])["Price"].count()
#spender_df

spender_df2=spender_df.sort_values("Price", ascending=False).head(5)
spender_df2


#spender_total=spender.groupby(["SN"])["Price"].count().sort_values('Price',ascending=False)
#spender_total
#spender_df2


#Average Purchase Price
#spender_df2=
#spender_df.sort_values('Price')
#spender_df2

             Price
SN
Lisosia93        5
Iral74           4
Idastidru52      4
Asur53           3
Inguron55        3